<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Context Analyzer / {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
{{>header}}
<body>
      <h1>{{title}}</h1>
    <div class="mainContent">
         
        <p id="info-paragraph"> 
            This page contains documentation for the project. 
        </p>
    </div>
    
</body>
{{>footer}}
</html>