<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <br>
    <br>
    <form action="http://localhost:3000/predict" method="POST">
        Input data: <input type="text" name="test">
        <button type="submit">Predict</button>
    </form>
</body>
</html>