<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    
    <a href="/sentiment" class="w3-bar-item w3-button w3-hide-small"></i> SENTIMENT ANALYSIS</a>
    <a href="/category" class="w3-bar-item w3-button w3-hide-small"> CATEGORY PREDICTION</a>
    <a href="/spam" class="w3-bar-item w3-button w3-hide-small"> SPAM OR HAM</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small"> ABOUT</a>
  </div>
</div>

    
