
<header>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/sentiment">Sentiment Analysis</a>
    <a href="/category">Category Prediciton</a>
    <a href="/spam">Spam Classification</a>
    <a href="/about">About</a>
</div>    
</header>
    
