<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Context Analyzer</h1>

    <a href="/">Context Analyzer</a>
	<a href="/sentiment">Sentiment Analysis</a>
	{{!-- <a href="/help">Help</a> --}}
</body>
</html>